<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body onload="document.getElementById('width').focus()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          {% else %}
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <center>
    <h1>PPI计算器</h1>
   
      <label for="width">屏幕宽度（像素）:</label>
      <input type="string" id="width" name="width"><br>
      <label for="height">屏幕高度（像素）:</label>
      <input type="string" id="height" name="height"><br>
      <label for="size">屏幕尺寸（英寸）:</label>
      <input type="string" id="size" name="size" step="0.1"><br>
      <label for="note_bz">备注信息:</label>
      <input type="string" id="note_bz" name="note_bz" ><br>
      <input type="button" value="计算PPI" id="提交" onclick="calculatePPI()"><br><br><br> 
      
      <p id="result"></p>
      <br><br>

      
        <button type="submit-btn" class="btn btn-primary"  onclick="post_to()"
        >添加这个收藏</button><br><br><br>
    </center>



    <script>
      function calculatePPI() {
          var width = +(document.getElementById('width').value);
          var height = +(document.getElementById('height').value);
          var size = +(document.getElementById('size').value);
          var note_bz = document.getElementById('note_bz').value;
      
          var ppi = Math.sqrt(width * width + height * height) / size;

          var result_jg = '&nbsp&nbsp宽度:' + width + 
          '&nbsp&nbsp高度:'+ height + 
          '&nbsp&nbspPPI: ' + ppi.toFixed(2) +
          '&nbsp&nbsp备注:'+ note_bz ;



          document.getElementById('result').innerHTML = result_jg;
          
          

          result_jg_without_nbsp = "宽度:" + width + 
          "高度:"+ height + 
          'PPI: ' + ppi.toFixed(2) +
          '备注:'+ note_bz ;



      }


      function post_to() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/', true);
        xhr.setRequestHeader("Content-Type", "text/plain");
        var data = result_jg_without_nbsp ;
        xhr.send(data);
      }
    </script>

    


    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

{% block javascript %}
    <script type="text/javascript">
      function deleteNote(noteId) {
  fetch("/delete-note", {
    method: "POST",
    body: JSON.stringify({ noteId: noteId }),
  }).then((_res) => {
    window.location.href = "/";
  });
  }
</script>
{% endblock %}
  </body>
</html>
